.img-fluid{
    width: 100%;
}
body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
.image{
    width: 20%;
    height: 40%;
}
.image{
    position: relative;
}
.image2{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}
.col-xl-5 {
    float: right;
}
.alcolhol{
    float: left;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(12, 223, 12);
    background-color: rgb(12, 223, 12);
    overflow-y: hidden;
    transition: 0.5s;
  }

.overlay a:hover, .overlay a:focus {
    text-decoration: none !important;
    color: blue;
  }  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
 
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }