*{
    box-sizing: border-box;
}
div.trim{
    max-width: 100%;
    max-height: 50px;
    overflow: hidden;
}
body{
    margin: 0;
}
img{
    max-width: 100%;
}
.wrap{
    width: 100%;
}
.sidenav {
    height: 100%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
  }
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav>a:first-child > img{
    max-width: 44px;
    position: absolute;
    top: 0;
    right:100px;
}
#back-to-top>a:first-child >img{
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height:50px;
}
#main-content{
    padding-left: 230px;
    padding-top: 20px; 
}
.image{
    float: left;
    text-align: center;
}
#main-content>.chart2>img{
    padding-top:0; 
}


