/*whole page*/
*{
    box-sizing: border-box;
}
body, html{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(../css/proxima_ssv/ProximaNova-Regular.otf);
}
@font-face {
    font-family: Proxima-Nova-Bold;
    src: url(../css/proxima_ssv/Proxima\ Nova\ Alt\ Bold.otf);
}
@font-face {
    font-family: Proxima-Nova-Semi-Bold;
    src: url(../css/proxima_ssv/FontsFree-Net-Proxima-Nova-Sbold.otf);
}
a{
    cursor: pointer;
}
/*header*/
.header-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 960px;
    background-image:url("../img/header\ image.png");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}
.header-mobile{
    display: none;
}
.header-tablet{
    display: none;
}
.logo{
    position: absolute;
    left: calc(12.075% - 94.5px);
    top: 54.114px;
}
.header-text-1{
    position: absolute;
    font-family: Proxima-Nova-Regular;
    font-size: 14px;
    top: 62px;
    left: calc(79.583% - 98.5px);
    width: 197px;
    height: 18px;
    color: white;
}
.stick{
    position: absolute;
    top: 304px;
    left: calc(28.28125% - 125px);
    z-index: 10;
}
.header-text-2{
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 367px;
    left: 9.89583%;
    color: white;
    z-index: 100;
    width: 672px;
    height: 110px;
    font-size: 90px;
}
.header-text-3{
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 572px;
    left: 33.698%;
    color: white;
    z-index: 100;
    width: 1076px;
    height: 110px;
    font-size: 90px;
}
.header-sport-text-container{
    position: relative;
    top: 578px;
    left: 58.02%;
    font-family: Proxima-Nova-Regular;
    color: #9071EA;
    width: 528px;
    height: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.apple-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 311px;
    height: 77px;
    border-radius: 100px;
    background-color: #5C3CAF;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.apple-image{
    position: absolute;
    top: 19px;
    left: 44px;
    width: 32px;
    height: 37px;
}
.apple-text-1{
    position: absolute;
    top: 22px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.apple-text-2{
    font-family: Proxima-Nova-Semi-Bold;
    position: absolute;
    top: 41px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.store{
    position: relative;
    top: 773px;
    left: 32.34375% ;
    width: 672px;
    height: 77px;
}
.android-container{
    position: absolute;
    top: 0;
    left: 381px;
    width: 311px;
    height: 77px;
    border-radius: 100px;
    background-color: #5C3CAF;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.android-image{
    position: absolute;
    top: 19px;
    left: 44px;
    width: 32px;
    height: 37px;
}
.android-text-1{
    position: absolute;
    top: 22px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.android-text-2{
    font-family: Proxima-Nova-Semi-Bold;
    position: absolute;
    top: 41px;
    left: 105px;
    color: white;
    font-size: 14px;
}
/*body*/
/*athlets-desktop*/
.athlets-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 950px;
}
.athlets-mobile{
    display: none;
    position: relative;
    width: 100%;
    height: 950px;
}
.athlets-text-lv0-0{
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 242px;
    left: 1008px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 #603EBE;
}
.athlets-text-lv0-1{
    z-index: -1;
    top: 173px;
    width: 380px;
    height: 110px;
    position: absolute;
    left: 1008px;
    font-family: Proxima-Nova-Bold;
    font-size: 90px;
    color: #E7E7E7;
}
.athlets-text-lv0-2{
    position: absolute;
    top: 236px;
    left: 1040px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.athlets-text-lv0-3{
    z-index: 100;
    position: absolute;
    top: 300px;
    left: 1008px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.athlets-content-lv1{
    position: absolute;
    top: 384px;
    width: 100%;
    height: 256px;
    background-color: #F5F4F9;
}
.athlets-text-lv1-0{
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 58px;
    left: 1008px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 #603EBE;
}
.athlets-text-lv1-1{
    z-index: 10;
    position: absolute;
    top: 97px;
    left: 1040px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.athlets-text-lv1-2{
    z-index: 100;
    position: absolute;
    top: 116px;
    left: 1008px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.athlets-content-lv2{
    z-index: 1;
    position: absolute;
    top: 635px;
    width: 100%;
    height: 302px;
    background-color: #5E3DB3;
}
.athlets-text-lv2-0{
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 91px;
    left: 1008px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 white;
}
.athlets-text-lv2-1{
    z-index: 10;
    position: absolute;
    top: 84px;
    left: 1040px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.athlets-text-lv2-2{
    z-index: 100;
    position: absolute;
    top: 148px;
    left: 1008px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
    color: white;
}
.athlets-image-container{
    position: relative;
    top: 39px;
    left: 16.67%;
    width: 678px;
    height: 950px;
}
.athlets-image-2{
    z-index: 1000;
    position: absolute;
    top: 13px;
    left: -2px;
    width: 574.87px;
    height: 641.96px;
}
.athlets-image-4{
    position: absolute;
    top: 108px;
    left: 0px;
    width: 15px;
    height: 15px;
}
.athlets-image-3 {
    position: absolute;
    top: 115px;
    left: 15px;
    width: 15px;
    height: 15px;
}
.athlets-image-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1600;
}
/*player*/
.player-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 980px;
}
.player-mobile{
    display: none;
    position: relative;
    width: 100%;
    height: 565px;
}
.player-text-lv0-0{
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 284px;
    left: 320px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 #603EBE;
}
.player-text-lv0-1{
    z-index: -1;
    top: 106px;
    width: 380px;
    height: 110px;
    position: absolute;
    left: 320px;
    font-family: Proxima-Nova-Bold;
    font-size: 90px;
    color: #E7E7E7;
}
.player-text-lv0-2{
    position: absolute;
    top: 278px;
    left: 355px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.player-text-lv0-3{
    z-index: 100;
    position: absolute;
    top: 342px;
    left: 320px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.player-content-lv1{
    position: absolute;
    top: 476px;
    width: 100%;
    height: 245px;
    background-color: #F5F4F9;
}
.player-text-lv1-0{
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 57px;
    left: 320px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 #603EBE;
}
.player-text-lv1-1{
    z-index: 10;
    position: absolute;
    top: 97px;
    left: 355px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.player-text-lv1-2{
    z-index: 100;
    position: absolute;
    top: 115px;
    left: 320px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.player-content-lv2{
    position: absolute;
    top: 712px;
    width: 100%;
    height: 268px;
    background-color: black;
}
.player-text-lv2-0{
    color: #8F6BE8;
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    position: absolute;
    top: 91px;
    left: 320px;
    width: 19px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 20px 0 0 white;
}
.player-text-lv2-1{
    z-index: 10;
    position: absolute;
    top: 84px;
    left: 355px;
    font-family: Proxima-Nova-Bold;
    font-size: 36px;
    color: #C2C2C2;
}
.player-text-lv2-2{
    z-index: 100;
    position: absolute;
    top: 148px;
    left: 320px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
    color: white;
}
.player-image-container{
    position: relative;
    top: -18px;
    left: 41.875%;
}
.player-image-2{
    position: absolute;
    top: 63px;
    left: 670px;
}
.player-image-3{
    position: absolute;
    top: 440px;
    left: 200px;
}
.player-image-5{
    position: absolute;
    top: 113px;
    left: 300px;
}
.player-image-4{
    position: absolute;
    top: 130px;
    left: 320px;
}
.player-image-6{
    position: absolute;
    top: 383px;
    left: 500px;
}
.player-image-1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
/*beactive*/
.beactive-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 731px;
}
.beactive-mobile{
    display: none;
    position: relative;
    width: 100%;
    height: 547px;
}
.beactive-image{
    position: absolute;
    top: 0;
    left: 0;
}
.beactive-box{
    position: absolute;
    top: 211px;
    left: 876px;
    top: calc(50% - 77.5px);
    width: 168px;
    height: 155px;
    background-color: #5E3DB3;
}
.beactive-text-lv0-0{
    position: absolute;
    top: 59px;
    left: 71px;
    color: white;
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    width: 25px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 29px 0 0 #979797;
    font-size: 24px;
}
.beactive-text-lv0-1{
    z-index: -1;
    top: 233px;
    width: 447px;
    height: 110px;
    position: absolute;
    left: 1088px;
    font-family: Proxima-Nova-Bold;
    font-size: 90px;
    color: #E7E7E7;
}
.beactive-text-lv0-2{
    z-index: 100;
    position: absolute;
    top: 435px;
    left: 1088px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.beactive-image-1{
    position: absolute;
    top: 603px;
    left: 1088px;
}
/*findcontact*/
.findcontact-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 731px;
}
.findcontact-mobile{
    display: none;
    position: relative;
    width: 320px;
    height: 547px;
}
.findcontact-image{
    position: absolute;
    top: 0;
    left: 961px;
}
.findcontact-box{
    position: absolute;
    top: 211px;
    left: 876px;
    top: calc(50% - 77.5px);
    width: 168px;
    height: 155px;
    background-color: #5E3DB3;
}
.findcontact-text-lv0-0{
    position: absolute;
    top: 59px;
    left: 71px;
    color: white;
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    width: 30px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 29px 0 0 #979797;
    font-size: 24px;
}
.findcontact-text-lv0-1{
    z-index: -1;
    top: 233px;
    width: 646px;
    height: 110px;
    position: absolute;
    left: 195px;
    font-family: Proxima-Nova-Bold;
    font-size: 90px;
    color: #E7E7E7;
}
.findcontact-text-lv0-2{
    z-index: 100;
    position: absolute;
    top: 435px;
    left: 195px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.findcontact-image-1{
    position: absolute;
    top: 603px;
    left: 195px;
}
/*work it*/
.workit-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 731px;
}
.workit-mobile{
    display: none;
    position: relative;
    width: 320px;
    height: 547px;
}
.workit-image{
    position: absolute;
    top: 1px;
    left: 0;
}
.workit-box{
    position: absolute;
    top: 211px;
    left: 876px;
    top: calc(50% - 77.5px);
    width: 168px;
    height: 155px;
    background-color: #5E3DB3;
}
.workit-text-lv0-0{
    position: absolute;
    top: 59px;
    left: 71px;
    color: white;
    z-index: 100;
    font-family: Proxima-Nova-Bold;
    width: 25px;
    height: 5px;
    border-radius: 5px;  
    box-shadow: 0 29px 0 0 #979797;
    font-size: 24px;
}
.workit-text-lv0-1{
    z-index: -1;
    top: 233px;
    width: 447px;
    height: 110px;
    position: absolute;
    left: 1088px;
    font-family: Proxima-Nova-Bold;
    font-size: 90px;
    color: #E7E7E7;
}
.workit-text-lv0-2{
    z-index: 100;
    position: absolute;
    top: 435px;
    left: 1088px;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
}
.workit-image-1{
    position: absolute;
    top: 603px;
    left: 1088px;
}
/*footer*/
.footer-desktop{
    display: block;
    position: relative;
    width: 100%;
    height: 960px;
    background-image:url("../img/footerBG.png");
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}
.footer-mobile{
    display: none;
    position: relative;
    width: 320px;
    height: 670px;
}
.store-footer{
    position: relative;
    top: 515px;
    left: 32.34375%;
    width: 672px;
    height: 77px;
}
.apple-container-1{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 311px;
    height: 77px;
    border-radius: 100px;
    background-color: #5C3CAF;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.apple-image-1{
    position: absolute;
    top: 19px;
    left: 44px;
    width: 32px;
    height: 37px;
}
.apple-text-1-1{
    position: absolute;
    top: 22px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.apple-text-2-1{
    font-family: Proxima-Nova-Semi-Bold;
    position: absolute;
    top: 41px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.android-container-1{
    position: absolute;
    top: 0;
    left: 381px;
    width: 311px;
    height: 77px;
    border-radius: 100px;
    background-color: #5C3CAF;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.android-image-1{
    position: absolute;
    top: 19px;
    left: 44px;
    width: 32px;
    height: 37px;
}
.android-text-1-1{
    position: absolute;
    top: 22px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.android-text-2-1{
    font-family: Proxima-Nova-Semi-Bold;
    position: absolute;
    top: 41px;
    left: 105px;
    color: white;
    font-size: 14px;
}
.footer-image-2{
    position: absolute;
    top: 860px;
    left: 2.5%;
}
.footer-image-1{
    position: absolute;
    top:224px;
    left:25.57%;
}
.footer-text-1{
    z-index: 1000;
    position: absolute;
    left: 34.74%;
    top: 210px;
    width: 760px;
    height: 110px;
    color: white;
    font-size: 90px;
    font-family: Proxima-Nova-Semi-Bold;
    display: flex;
    align-items: center;
}
.footer-text-2{
    z-index: 1000;
    position: absolute;
    left: 34.74%;
    top: 331px;
    width: 656px;
    height: 44px;
    color: #A496CA;
    font-family: Proxima-Nova-Semi-Bold;
    font-size: 36px;
    display: flex;
    align-items: center;
}
.footer-text-3{
    position: absolute;
    top: 866px;
    left: 80.729%;
    font-size: 20px;
    color: white;
    font-family: Proxima-Nova-Regular;
    width: 327px;
    height: 24px;
}
.social{
    position: absolute;
    top: 862px;
    left: 46.25%;
    width: 137px;
    height: 27px;
}
.footer-image-3{
    float: left;
    margin-right: 41px;
}
.footer-image-4{
    float: left;
    margin-right: 30px;
}
.footer-image-5{
    float: left;
}
.footer-image-6{
    z-index: 10;
    position: absolute;
    top: 210px;
    left: 36.30%;
}
.footer-image-7{
    z-index: 10;
    position: absolute;
    left: 53.96%;
    top: 140xp
}
@media only screen and (max-width: 320px) {
    /*header*/
    .header-desktop{
        display: none;
    }
    .header-tablet{
        display: none;
    }
    .header-mobile{
        position: relative;
        display: block;
        width: 320px;
        height: 568px;
        background-image:url("../img/header\ image.png");
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .header-text-2{
        position: absolute;
        top: 195px;
        left: 9px;
        width: 240px;
        height: 39px;
        font-size: 32px;
    }
    .logo{
        position: absolute;
        top: 39.5px;
        left: calc(50% - 94.5px);
    }
    .header-text-3{
        position: absolute;
        top: 245px;
        left: 66px;
        width: 255px;
        height: 74px;
        font-size: 32px;
    }
    .stick{
        position: absolute;
        top: 170.21px;
        left: 85.46px;
    }
    .apple-container{
        position: absolute;
        top: 434px;
        left: 14px;
        width: 142px;
        height: 40px;
    }
    .apple-image{
        position: absolute;
        top: 11px;
        left: 20px;
        width: 14.57px;
        height: 16.82px;
    }
    .apple-text-1{
        width: 82px;
        height: 10px;
        position: absolute;
        top: 11px;
        left: 45px;
        font-size: 8px;
        font-family: Proxima-Nova-Regular;
    }
    .apple-text-2{
        width: 46px;
        height: 8px;
        position: absolute;
        top: 22px;
        left: 45px;
        font-size: 8px;
        font-family: Proxima-Nova-Bold;
    }
    .android-container{
        position: absolute;
        top: 434px;
        left: 164px;
        width: 142px;
        height: 40px;
    }
    .android-image{
        position: absolute;
        top: 11px;
        left: 30px;
        width: 16.39px;
        height: 17.73px;
    }
    .android-text-1{
        width: 82px;
        height: 10px;
        position: absolute;
        top: 11px;
        left: 55px;
        font-size: 8px;
        font-family: Proxima-Nova-Regular;
    }
    .android-text-2{
        width: 54px;
        height: 8px;
        position: absolute;
        top: 22px;
        left: 55px;
        font-size: 8px;
        font-family: Proxima-Nova-Bold;
    }
    .header-sport-text-container-0{
        position: absolute;
        top: 516px;
        left: 33px;
        width: 253px;
        height: 35px;
    }
    .header-sport-text-container-1{
        width: 253px;
        height: 15px;
        margin-bottom: 5px;
        font-family: Proxima-Nova-Regular;
        color: #9071EA;
        font-size: 12px;
        display: flex;
        justify-content: space-between;

    }
    .header-sport-text-container-2{
        width: 253px;
        height: 15px;
        font-family: Proxima-Nova-Regular;
        color: #9071EA;
        font-size: 12px;
        display: flex;
        justify-content: space-around;
    }
    /*athlets*/
    .athlets-desktop{
        display: none;
        position: relative;
        width: 100%;
        height: 536px;
    }
    .athlets-mobile{
        display: block;
        position: relative;
        width: 100%;
        height: 537px;
    }
    .athlets-text-lv0-1{
        z-index: -1;
        top: 32px;
        width: 211px;
        height: 61px;
        position: absolute;
        left: 19px;
        font-family: Proxima-Nova-Bold;
        font-size: 50px;
        color: #E7E7E7;
    }
    .athlets-image-1{
        width: 200px;
        height: 281px;
        position: absolute;
        top: 23px;
        left: 70px;
        z-index: 1600;
    }
    .athlets-image-2{
        width: 178.89px;
        height: 197.23px;
        position: absolute;
        top: 10px;
        left: 68px;
        z-index: 100;
    }
    .athlets-image-4{
        position: absolute;
        top: 57px;
        left: 52px;
        z-index: 100;
    }
    .athlets-image-3{
        position: absolute;
        top: 70px;
        left: 74px;
        z-index: 100;
    }
    .athlets-content-lv1{
        position: absolute;
        top: 253px;
        left: 0;
        width: 320px;
        height: 284px;
    }
    .container{
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        width: 100%;
        height: 100%;
    }
    .carousel-inner{
        width: 320px;
        height: 284px;
    }
    .item{
        width: 320px;
        height: 284px;
    }
    .athlets-text-lv0-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 78px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .athlets-text-lv0-2{
        position: absolute;
        top: 101px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .athlets-text-lv0-3{
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .athlets-text-lv1-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 78px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .athlets-text-lv1-1{
        position: absolute;
        top: 101px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .athlets-text-lv1-2{
        width: 302px;
        height: 90px;
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .athlets-text-lv2-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 78px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .athlets-text-lv2-1{
        position: absolute;
        top: 101px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .athlets-text-lv2-2{
        width: 302px;
        height: 90px;
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .slide-container-1{
        position: relative;
    }
    .slide-container-2{
        position: relative;
    }
    .slide-container-3{
        position: relative;
    }
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: #5C3CAF;
    }
    /*player*/
    .player-desktop{
        display: none;
        position: relative;
        width: 100%;
        height: 980px;
    }
    .player-mobile{
        position: relative;
        display: block;
        position: relative;
        width: 100%;
        height: 565px;
    }
    .player-text-lv0-1{
        z-index: -1;
        top:79px;
        width: 212px;
        height: 61px;
        position: absolute;
        left: 17px;
        font-family: Proxima-Nova-Bold;
        font-size: 50px;
        color: #E7E7E7;
    }
    .player-image-4{
        position: absolute;
        top: 100px;
        left: 52px;
    }
    .player-image-5{
        position: absolute;
        top: 106px;
        left: 74px;
    }
    .player-image-3{
        position: absolute;
        top: 207px;
        left: 52px;
        width: 106.35px;
        height: 123.2px;
    }
    .player-image-2{
        position: absolute;
        top: 121px;
        left: 200px;
        width: 76.69px;
        height: 89.84px;
    }
    .player-image-1{
        width: 302px;
        height: 249px;
        position: absolute;
        top: 101px;
        left: 3px;
    }
    .player-content-lv1{
        position: absolute;
        top: 312px;
        left: 0;
        width: 100%;
        height: 253px;
    }
    .slide-container-4{
        position: relative;
    }
    .slide-container-5{
        position: relative;
    }
    .slide-container-6{
        position: relative;
    }
    .carousel-inner-1{
        width: 100%;
        height: 253px;
    }
    .carousel-item-1{
        width: 100%;
        height: 253px;
    }
    .player-text-lv0-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 81px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .player-text-lv0-2{
        position: absolute;
        top:71px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .player-text-lv0-3{
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .player-text-lv1-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 78px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .player-text-lv1-1{
        position: absolute;
        top: 71px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .player-text-lv1-2{
        width: 302px;
        height: 90px;
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    .player-text-lv2-0{
        color: black;
        z-index: 100;
        font-size: 14px;
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 78px;
        left: -33px;
        width: 19px;
        height: 5px;
        border-radius: 5px;  
        box-shadow: 0 20px 0 0 #603EBE;
    }
    .player-text-lv2-1{
        position: absolute;
        top: 71px;
        left: -4px;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #C2C2C2;
        z-index: 1000;
    }
    .player-text-lv2-2{
        width: 302px;
        height: 90px;
        z-index: 100;
        position: absolute;
        top: 122px;
        left: -32px;
        font-family: Proxima-Nova-Regular;
        font-size: 15px;
        color: black;
        text-align: left;
    }
    /*beactive*/
    .beactive-desktop{
        display: none;
        position: relative;
        width: 100%;
        height: 731px;
    }
    .beactive-mobile{
        display: block;
        position: relative;
        width: 320px;
        height: 547px;
    }
    .beactive-image{
        width: 320px;
        height: 348px;
    }
    .beactive-box{
        position: absolute;
        top: 293px;
        left: 19px;
        width: 70px;
        height: 70px;
        background-color: #5E3DB3;
    }
    .beactive-text-lv0-0{
        position: absolute;
        top: 20px;
        left: 27px;
        color: white;
        z-index: 100;
        font-family: Proxima-Nova-Bold;
        width: 16px;
        height: 4px;
        border-radius: 5px;  
        box-shadow: 0 22px 0 0 #979797;
        font-size: 14px;
    }
    .beactive-text-lv0-1{
        z-index: -1;
        top: 376px;
        width: 139px;
        height: 35px;
        left: 18px;
        position: absolute;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #E7E7E7;
    }
    .beactive-text-lv0-2{
        z-index: 100;
        position: absolute;
        top: 435px;
        left: 18px;
        font-family: Proxima-Nova-Regular;
        font-size: 16px;
    }
    .beactive-image-1{
        position: absolute;
        top: 519px;
        left: 18px;
    }
    /*findcontact*/
    .findcontact-desktop{
        display: none;
        position: relative;
        width: 100%;
        height: 731px;
    }
    .findcontact-mobile{
        display: block;
        position: relative;
        width: 320px;
        height: 547px;
    }
    .findcontact-image{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 320px;
        height: 348px;
    }
    .findcontact-box{
        position: absolute;
        top: 293px;
        left: 19px;
        width: 70px;
        height: 70px;
        background-color: #5E3DB3;
    }
    .findcontact-text-lv0-0{
        position: absolute;
        top: 20px;
        left: 27px;
        color: white;
        z-index: 100;
        font-family: Proxima-Nova-Bold;
        width: 16px;
        height: 4px;
        border-radius: 5px;  
        box-shadow: 0 22px 0 0 #979797;
        font-size: 14px;
    }
    .findcontact-text-lv0-1{
        z-index: -1;
        top: 376px;
        width: 201px;
        height: 35px;
        left: 18px;
        position: absolute;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #E7E7E7;
    }
    .findcontact-text-lv0-2{
        z-index: 100;
        position: absolute;
        top: 435px;
        left: 18px;
        font-family: Proxima-Nova-Regular;
        font-size: 16px;
    }
    .findcontact-image-1{
        position: absolute;
        top: 519px;
        left: 18px;
    }
    /*workit*/
    .workit-desktop{
        display: none;
        position: relative;
        width: 100%;
        height: 731px;
    }
    .workit-mobile{
        display: block;
        position: relative;
        width: 320px;
        height: 572px;
    }
    .workit-image{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 320px;
        height: 348px;
    }
    .workit-box{
        position: absolute;
        top: 293px;
        left: 19px;
        width: 70px;
        height: 70px;
        background-color: #5E3DB3;
    }
    .workit-text-lv0-0{
        position: absolute;
        top: 20px;
        left: 27px;
        color: white;
        z-index: 100;
        font-family: Proxima-Nova-Bold;
        width: 16px;
        height: 4px;
        border-radius: 5px;  
        box-shadow: 0 22px 0 0 #979797;
        font-size: 14px;
    }
    .workit-text-lv0-1{
        z-index: -1;
        top: 376px;
        width: 201px;
        height: 35px;
        left: 18px;
        position: absolute;
        font-family: Proxima-Nova-Bold;
        font-size: 28px;
        color: #E7E7E7;
    }
    .workit-text-lv0-2{
        z-index: 100;
        position: absolute;
        top: 435px;
        left: 18px;
        font-family: Proxima-Nova-Regular;
        font-size: 16px;
    }
    .workit-image-1{
        position: absolute;
        top: 543px;
        left: 18px;
    }
    /*footer*/
    .footer-desktop{
        display: none;
    }
    .footer-mobile{
        display: block;
        position: relative;
        width: 320px;
        height: 670px;
        background-image:url("../img/footerBG.png");
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .footer-image-1{
        width: 88px;
        height: 80px;
        position: absolute;
        top: 95px;
        left: 116px;
    }
    .footer-text-1{
        z-index: 1000;
        position: absolute;
        left: 18px;
        top: 222px;
        width: 285px;
        height: 42px;
        color: white;
        font-family: Proxima-Nova-Semi-Bold;
        display: flex;
        align-items: center;
        font-size: 34px;
    }
    .footer-text-2{
        z-index: 1000;
        position: absolute;
        left: 18px;
        top: 264px;
        width: 274px;
        height: 19px;
        color: #A496CA;
        font-family: Proxima-Nova-Semi-Bold;
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    .footer-image-6{
        position: absolute;
        top: 222px;
        left: 18px;
        width: 58.72px;
        height: 67.42px;
    }
    .footer-image-7{
        position: absolute;
        top: 189px;
        left: 146px;
    }
    .apple-container-3{
        border-radius: 100px;
        background-color: #5C3CAF;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        position: absolute;
        top: 434px;
        left: 14px;
        width: 142px;
        height: 40px;
    }
    .apple-image-3{
        position: absolute;
        top: 11px;
        left: 20px;
        width: 14.57px;
        height: 16.82px;
    }
    .apple-text-3-1{
        color: white;
        width: 82px;
        height: 10px;
        position: absolute;
        top: 11px;
        left: 45px;
        font-size: 8px;
        font-family: Proxima-Nova-Regular;
    }
    .apple-text-3-2{
        color: white;
        width: 46px;
        height: 8px;
        position: absolute;
        top: 22px;
        left: 45px;
        font-size: 8px;
        font-family: Proxima-Nova-Bold;
    }
    .android-container-3{
        border-radius: 100px;
        background-color: #5C3CAF;
        display: flex;
        justify-content: center;
        justify-items: center;
        position: absolute;
        top: 434px;
        left: 164px;
        width: 142px;
        height: 40px;
    }
    .android-image-3{
        position: absolute;
        top: 11px;
        left: 30px;
        width: 16.39px;
        height: 17.73px;
    }
    .android-text-3-1{
        color: white;
        width: 82px;
        height: 10px;
        position: absolute;
        top: 11px;
        left: 55px;
        font-size: 8px;
        font-family: Proxima-Nova-Regular;
    }
    .android-text-3-2{
        color: white;
        width: 54px;
        height: 8px;
        position: absolute;
        top: 22px;
        left: 55px;
        font-size: 8px;
        font-family: Proxima-Nova-Bold;
    }
    .social{
        position: absolute;
        top: 620px;
        left: 98px;
        width: 124px;
        height: 18px;
    }
    .footer-image-3{
        float: left;
        margin-right: 30px;
    }
    .footer-image-4{
        float: left;
        margin-top: 2px;
        margin-right: 27px;
    }
    .footer-image-5{
        float: left;
    }
}
@media only screen and (max-width: 768px) and (min-width: 320px){
    /*header*/
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: none;
    }
    .header-tablet{
        position: relative;
        display: block;
        width: 768px;
        height: 960px;
        background-image:url("../img/header\ image.png");
        background-position: center;
        background-size:cover;
        background-repeat:no-repeat;
    }
    .logo{
        position: absolute;
        left: 2.6%;
        top: 54.114px;
    }
    .header-text-1{
        position: absolute;
        font-family: Proxima-Nova-Regular;
        font-size: 14px;
        top: 62px;
        left: 50%;
        width: 197px;
        height: 18px;
        color: white;
    }
    .stick{
        position: absolute;
        top: 304px;
        left: 33.59%;
        z-index: 10;
    }
    .header-text-2{
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 367px;
        left: 9.89583%;
        color: white;
        z-index: 100;
        width: 672px;
        height: 110px;
        font-size: 64px;
    }
    .header-text-3{
        font-family: Proxima-Nova-Bold;
        position: absolute;
        top: 572px;
        left: 33.698%;
        color: white;
        z-index: 100;
        width: 1076px;
        height: 110px;
        font-size: 64px;
    }
    .header-sport-text-container{
        position: relative;
        top: 578px;
        left: 58.02%;
        font-family: Proxima-Nova-Regular;
        color: #9071EA;
        width: 528px;
        height: 18px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .apple-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 311px;
        height: 77px;
        border-radius: 100px;
        background-color: #5C3CAF;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .apple-image{
        position: absolute;
        top: 19px;
        left: 44px;
        width: 32px;
        height: 37px;
    }
    .apple-text-1{
        position: absolute;
        top: 22px;
        left: 105px;
        color: white;
        font-size: 14px;
    }
    .apple-text-2{
        font-family: Proxima-Nova-Semi-Bold;
        position: absolute;
        top: 41px;
        left: 105px;
        color: white;
        font-size: 14px;
    }
    .store{
        position: relative;
        top: 773px;
        left: 32.34375% ;
        width: 672px;
        height: 77px;
    }
    .android-container{
        position: absolute;
        top: 0;
        left: 381px;
        width: 311px;
        height: 77px;
        border-radius: 100px;
        background-color: #5C3CAF;
        display: flex;
        justify-content: center;
        justify-items: center;
    }
    .android-image{
        position: absolute;
        top: 19px;
        left: 44px;
        width: 32px;
        height: 37px;
    }
    .android-text-1{
        position: absolute;
        top: 22px;
        left: 105px;
        color: white;
        font-size: 14px;
    }
    .android-text-2{
        font-family: Proxima-Nova-Semi-Bold;
        position: absolute;
        top: 41px;
        left: 105px;
        color: white;
        font-size: 14px;
    }

}